<div class="pull-right hidden-xs">
    <b>Version</b> {{t-tr "general.appVersion"}}
</div>

<strong>Built by <a href="{{t-tr 'footer.buildByUrl'}}" target="_blank">{{t-tr 'footer.buildBy'}}</a>.</strong>
<a href="{{t-tr 'footer.copyrightUrl'}}" target="_blank">{{t-tr 'footer.copyright'}}</a>
