<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
    <i class="fa fa-dashboard"></i> {{t-tr 'profile.title'}}
    <small>{{t-tr 'profile.subtitle'}}</small>
  </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <!-- settings -->
            {{#box-widget t_title='profile.settings' colorSceme = 'info' }}
            <form role="form" data-toggle="validator" {{action 'updateProfile' on='submit' }}>
                <div class="box-body">
                    <div class="form-group">
                        <label for="email">{{t-tr 'profile.email'}}</label>
                        {{input class="form-control" type="email" readonly="readonly" id="email" value=email}}
                    </div>
                    <div class="form-group">
                        <label for="password">{{t-tr 'profile.password'}}</label>
                        {{input type="password" class="form-control" id="password" placeholder="Password" data-minlength="8" required="" value=password}}
                        <div class="help-block width-error">{{t-tr 'profile.passwordValidateNrChars'}}</div>
                    </div>
                    <div class="form-group">
                        <label for="password1">{{t-tr 'profile.password'}}</label>
                        {{input type="password" class="form-control" id="password1" placeholder="Password again" data-match="#password" required="" value=password1}}
                        <div class="help-block width-error">{{t-tr 'profile.passwordDontMatch'}}</div>
                    </div>
                </div>
                <!-- /.box-body -->

                <div class="box-footer">
                    <button class="btn btn-primary" type="submit">{{t-tr 'general.submit'}}</button>
                </div>
            </form>
            {{/box-widget}}
            <!-- general accoutns settings -->
            {{#box-widget t_title='profile.linkedAccounts' colorSceme = 'info' }} {{/box-widget}}
        </div>

        <div class="col-xs-12 col-sm-6 col-md-8">
            <!-- avatar settingss -->
            {{#box-widget t_title='profile.avatar' colorSceme = "info" }}
            <form role="form" {{action 'updateProfileAvatar' on="submit"}}>
                <div class="box-body">
                    <div class="form-group">
                        <label for="avatarImage">{{t-tr 'profile.avatarImage'}}</label>
                        {{input class="form-control" type="file" id="avatarImage"}}
                    </div>

                    {{#liquid-unless flaggedDrilled class="drilldown"}}
                    <div class="form-group">
                        <label for="avatarImage">{{t-tr 'profile.avatarPreview'}}</label>
                    </div>
                    {{/liquid-unless}}
                </div>
                <!-- /.box-body -->

                <div class="box-footer">
                    <button class="btn btn-primary">{{t-tr 'general.upload'}}</button>
                </div>
            </form>

            {{/box-widget}}
        </div>
    </div>
</section>

{{outlet}}
